<ion-header>
  <ion-toolbar>
    <ion-title><i>STATISTICS</i></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <h2 style="font-size: 80px;" class="wow"><i>Career statistics</i></h2>
    <p class="wow">This page shows you just how well you've done.<br>
    Don't get too excited, there are people already doing better than you.</p>
    <p>Correct answers: {{corrects}}</p>
    <p>Wrong answers: {{wrongs}}</p>
    <p>Highest combo: {{highestcombo}}</p>
  </div>
</ion-content>
