i, .wow {
    animation-name: wavy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .wtf {
    color:#FFFFFF
  }

@keyframes wavy {
    0% {color: #FF00FF;}
    50% {color: #00FFFF;}
    100% {color: #FF00FF;}
  }