.logo {
    max-width: 200px;
    padding-left: auto;
    margin-top: 20px;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    animation-name: wavy2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  border-radius: 30px;


  }

  @keyframes wavy2 {
    0% {background-color: #FF00FF;}
    50% {background-color: #00FFFF;}
    100% {background-color: #FF00FF;}
  }

  i, .wow {
    animation-name: wavy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .name {
      font-size: 50px;
  }
  
  .yeehaw {
      position: relative;
    animation-name: conga;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes wavy {
    0% {color: #FF00FF;}
    50% {color: #00FFFF;}
    100% {color: #FF00FF;}
  }

  @keyframes conga {
    0% {left: -300px;}
    100% {left: 2000px;}
  }