<ion-header>
  <ion-toolbar>
    <ion-title><i>CREDITS</i></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2 style="font-size: 70px;" class="wow"><i>Credits</i></h2>
<p><i>"Change the world."</i></p>
  </div>
  <div class="logo">
    <img src="..\assets\images\logo.png">
    
    </div>

    <h1 class="name ion-text-center"><i>Alex Martin</i></h1>
<div class="ion-text-center">
  <h2>Made with great struggle and agony.</h2>
  <h2><i>SPECIAL THANKS TO:</i></h2>

<p>Jouni Juntunen for helping me figure out how pages and local storage work.<br><br>
Teppo Räisänen for granting access to additional materials for help.<br><br>
Myself for putting up with this shit.</p>
</div>

<img class="yeehaw" src="..\assets\images\demo.gif">

</ion-content>
