#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.comboText {
font-size: 20px;
animation-name: wavy;
animation-duration: 4s;
animation-iteration-count: infinite;
}

i {
  animation-name: wavy;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

ion-icon {
  animation-name: wavy;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.disc {
  font-size:10px
}

.wtf {
  color:#FFFFFF
}

@keyframes wavy {
  0% {color: #FF00FF;}
  50% {color: #00FFFF;}
  100% {color: #FF00FF;}
}

