<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="show_stats();">
          <ion-icon name="bar-chart-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="show_credits(); play">
          <ion-icon name="skull"></ion-icon>
        </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<div class="ion-text-center">
  <h1 style="font-size: 80px;"><i>Math Maniacs 2020</i></h1>
<h2><i>Pick your favorite arithmetic operation and enter the right answer!</i></h2>
<p class="wtf">Keep guessing right and get a higher combo. Get bragging rights with your massive combo!<br>
Everything is a competition anyways, right?</p>
</div>
<ion-content class="ion-padding">
  <div class="ion-padding ion-text-center">
  <ion-item>
    <ion-label>Type of questions:</ion-label>
    <ion-select [(ngModel)]="type" value="plus" okText="Okay">
      <ion-select-option value="+">Additions (+)</ion-select-option>
      <ion-select-option value="-">Subtractions (-)</ion-select-option>
      <ion-select-option value="x">Multiplications (x)</ion-select-option>
      <ion-select-option disabled="true" value="divide">Divisions (/)</ion-select-option>
    </ion-select>
  </ion-item>
</div>


<ion-list>
  <ion-item>
    <ion-input readonly value="{{number1}}" class="ion-text-center"></ion-input>
    <ion-label>{{type}}</ion-label>
    <ion-input readonly value="{{number2}}" class="ion-text-center"></ion-input>
    <ion-label>=</ion-label>
    <ion-input [(ngModel)]="answer" type="number" step="1" class="ion-text-center"></ion-input>
  </ion-item>
</ion-list>
<div class="ion-text-center">
  <ion-button (click)="calc2()">Check</ion-button>
</div>
<div class="ion-padding ion-text-center">
  <p>{{displayResult}}</p>
  <p class="comboText">Current combo: {{combo}}</p>
</div>

<div class="ion-text-center">
<audio autoplay controls loop>
  <source src="..\assets\songs\song8.mp3">
</audio>
<p class="disc">This song was DESIGNED to be annoying.<br>
You can mute it if you want to.<br>
Be lucky I didn't hide the controls lmao</p>
</div>

</ion-content>
